.logo {
  &__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  &__deko--black {
    color: black;
  }

  &__deko--white {
    color: var(--accent-font-color);
  }

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}
