.logo {
  &__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  &__deko--black {
    color: black;
  }

  &__deko--white {
    color: var(--accent-font-color);
  }
}
