:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --primery-bgn: #f5f5f5;
  --secondary-bgn: #f5f4fa;
  --aсcent-bgn: #2f303a;
  --accent-color: #2196f3;
  --main-font-color: #757575;
  --secondary-font-color: #212121;
  --accent-font-color: #ffffff;
  --icon-color: rgb(175, 177, 184);
  --t-t-f: cubic-bezier(0.4, 0, 0.2, 1);
}
