.features {
  padding-bottom: 0px;

  &__list {
    display: flex;
    gap: 30px;
  }
  &__item {
    width: 270px;
    display: block;
  }
  &__bgn {
    width: 270px;
    height: 120px;
    background-color: var(--secondary-bgn);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-font-color);
    margin-top: 0px;
    margin-bottom: 10px;
  }
  &__txt {
    line-height: calc(24 / 14);
    color: var(--main-font-color);
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
