.footer {
  background: var(--a—Åcent-bgn);
  padding-top: 60px;
  padding-bottom: 60px;

  &--flex {
    display: flex;
    align-items: baseline;

    @media screen and (max-width: 480px) {
      display: block;
    }
  }
}
